:root {
  --light-gray: #fafafa;
  --lighter-gray: #fcfcfc;
  --viridis-1: #44015499;
  --viridis-2: #31688eff;
  --viridis-3: #35b779ff;
  --viridis-4: #fde725ff;
}

a {
  box-shadow: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-gray);
}

.deckgo-highlight-code-container > code {
  background-color: var(--light-gray);
}

code {
  font-size: 1.1rem;
  color: #aa4443;
}

nav {
  height: 3rem;
  display: flex;
  flex-direction: row;
  background-color: var(--light-gray);
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li,
nav p.brand {
  list-style: none;
  margin: 0.5em;
  text-align: center;
  color: var(--viridis-2);
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

nav a:hover {
  background-color: var(--lighter-gray);
  color: var(--viridis-1);
}

li.blogpost {
  background-color: var(--light-gray);
  list-style-type: none;
  padding: 1em;
  border-radius: 15px;
  margin: 1em;
  cursor: pointer;
}

li.blogpost:hover {
  -webkit-box-shadow: 0px 0px 2px 2px var(--viridis-1);
  -moz-box-shadow: 0px 0px 2px 2px var(--viridis-1);
  box-shadow: 0px 0px 2px 2px var(--viridis-1);
}

li.blogpost > div {
  margin: 1rem;
}

li.blogpost a {
  text-decoration: none;
}

.blogpost h5 {
  margin-top: 0px;
}

.alert {
  margin: 0 0 0 0;
  padding: 0.5rem;
}

.alert-warning {
  background-color: #fff0cd;
  color: #454500cc;
  border-color: #ffeeba;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.25);
}

.active p {
  background-color: 'black';
  border-bottom: 2px solid var(--viridis-2);
}

.container {
  color: #000000cc;
  max-width: 60rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

img.whoami-image {
  padding: 1em;
  border-radius: 5em;
}

@media (min-width: 600px) {
  img.whoami-image {
    float: right;
    max-width: 350px;
  }
}

.headerimg {
  width: 100%;
  max-height: 100px;
}
