html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  position: relative;
}

a {
  /* color: inherit; */
  /* text-decoration: none; */
  /* box-shadow: none; */
}

* {
  box-sizing: border-box;
}

:root {
  --light-gray: #fafafa;
  --lighter-gray: #fcfcfc;
  --viridis-1: #44015499;
  --viridis-2: #31688eff;
  --viridis-3: #35b779ff;
  --viridis-4: #fde725ff;
}

/* html { */
/*   font-family: sans-serif; */
/*   -ms-text-size-adjust: 100%; */
/*   -webkit-text-size-adjust: 100%; */
/* } */

/* body { */
/*   margin: 0; */
/*   -webkit-font-smoothing: antialiased; */
/*   -moz-osx-font-smoothing: grayscale; */
/*   background-color: var(--light-gray); */
/* } */

nav {
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--light-gray);
  position: relative;
  z-index: 10;
  padding: 0.5rem;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li,
nav p.brand {
  list-style: none;
  margin: 0.5em;
  text-align: center;
  color: var(--viridis-2);
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

nav a:hover {
  background-color: var(--lighter-gray);
  color: var(--viridis-1);
}

li.blogpost {
  background-color: var(--light-gray);
  list-style-type: none;
  padding: 1em;
  border-radius: 15px;
  margin: 1em;
  cursor: pointer;
}

li.blogpost:hover {
  -webkit-box-shadow: 0px 0px 2px 2px var(--viridis-1);
  -moz-box-shadow: 0px 0px 2px 2px var(--viridis-1);
  box-shadow: 0px 0px 2px 2px var(--viridis-1);
}

li.blogpost > div {
  margin: 1rem;
}

li.blogpost a {
  text-decoration: none;
}

.blogpost h5 {
  margin-top: 0px;
}

.alert {
  margin: 0 0 0 0;
  padding: 0.5rem;
}

.alert-warning {
  background-color: #fff0cd;
  color: #454500cc;
  border-color: #ffeeba;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.25);
}

.active p {
  background-color: 'black';
  border-bottom: 2px solid var(--viridis-2);
}

.container {
  color: #000000cc;
  max-width: 60rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

pre {
  overflow-x: auto;
  max-width: 100%;
}

article {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;
}

article * {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

main.container {
  min-width: 0;
  width: 100%;
}

#app {
  overflow-x: hidden;
  max-width: 100vw;
}

img.whoami-image {
  padding: 1em;
  border-radius: 5em;
}

@media (min-width: 600px) {
  img.whoami-image {
    float: right;
    max-width: 350px;
  }
}

.headerimg {
  width: 100%;
  max-height: 100px;
}

p.blogdate {
  margin-bottom: 1em;
}

.blog-tag {
  margin-right: 0.5em;
}

div.tags {
  margin-bottom: 1em;
}

p.edit-message {
  font-size: 0.75em;
  color: #555;
}

@media (min-width: 400px) {
  div.right {
    float: right;
    width: 200px;
    margin-left: 20px;
  }
}

.blog-link {
  margin-bottom: 10em;
}

#app {
  height: 100vh;

  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

  #app > nav {
  grid-area: header;
}

  #app > main {
  grid-area: main;
  padding: 15px 5px 10px 5px;
}

  #app > footer {
  grid-area: footer;
}

.hidden {
  display: none;
}

h1 {
  margin-top: 1em;
}
