@import "tailwindcss";

:root {
  --light-gray: #fafafa;
  --lighter-gray: #fcfcfc;
  --viridis-1: #44015499;
  --viridis-2: #31688eff;
  --viridis-3: #35b779ff;
  --viridis-4: #fde725ff;
}

/* Base styles */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-gray);
}

* {
  box-sizing: border-box;
}

a {
  box-shadow: none;
}

/* Alerts */
.alert {
  margin: 0;
  padding: 0.5rem;
}

.alert-warning {
  background-color: #fff0cd;
  color: #454500cc;
  border-color: #ffeeba;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.25);
}

/* Media queries */
@media (min-width: 600px) {
  img.whoami-image {
    float: right;
    max-width: 350px;
  }
}